body {
  background: #EEE;
  margin: 0 4em;
  color: #333;
  font: 1em/1.4 Arial, sans-serif;
}
#helpContainer  {
  padding: 1em;
  background: #FFF;
  box-shadow: 0 0 1em #666;
  min-width: 950px;
  margin: 0 auto 3em auto;
}
.help section {
  border-top: 1px dotted #999;
}
.help h1 + section {
  border-top: 0;
}
.help section > h1 {
  margin: 1em 0;
  font-weight: bold;
}
.help section > h1 {
  font-size: 1.6em;
}
.help section section > h1 {
  font-size: 1.3em;
}
.help section section section > h1 {
  font-size: 1.1em;
}
.help section section section section > h1 {
  font-size: 1em;
}
.help section > p {
  margin: 1em 0;
}
.help em {
  font-style: oblique;
}
.help dd {
  margin: 0 0 .5em 2em;
}
.help dd:last-child {
  margin-bottom: 0;
}
.help code {
  font-family: monospace;
}
.help img {
  border: 0;
}
.help a {
  cursor: pointer;
}
#toc {
  border-top: 0;
}
#toc h1 {
  margin: 0;
  font-size: 2em;
}
#toc ol {
  margin-left: 2em;
  list-style-position: inside;
  list-style-type: none;
}
#toc > ol {
  margin: 1em 0;
}
#toc .pageNumber {
  display: none;
}
#browsers {
  text-align: center;
}
.help .image {
  text-align: center;
  font-size: .8em;
  color: #666;
}
.help .image.righted {
  float: right;
}
.help .centered {
  text-align: center;
}
.todo {
  color: red;
}
.help .screen {
  box-shadow: 0 0 20px #000;
  display: inline-block;
  margin-bottom: 1em;
  background: #EEE;
}
.help section > .info {
  text-align: center;
  margin: 1em 0;
}
.help .info p {
  border-radius: 4px;
  padding: .5em;
  margin: 0 auto;
  display: inline-block;
}
.help .info p.warn {
  background: #FFD1D1;
  border: 1px solid #F8ACAC;
}
.help .info p.ok {
  background: #E8F6FF;
  border: 1px solid #B8E2FB;
}
.help kbd {
  padding: 5px 3px;
  white-space: nowrap;
  color: #000;
  background-color: #EEE;
  border-top: solid 2px #CCC;
  border-right: solid 4px #AAA;
  border-bottom: solid 5px #888;
  border-left: solid 3px #BBB;
}
.help section > ol {
  margin: 1em 0;
  padding-left: 2.5em;
  list-style: decimal;
}
.help section > ul {
  margin: 1em 0;
  padding-left: 2.5em;
  list-style: square;
}
.help .table {
  margin: 1em auto;
  text-align: center;
}
.help .table caption {
  font-size: .8em;
  color: #666;
  margin-top: 1em;
  caption-side: bottom;
}
.help .table th {
  font-weight: bold;
  padding: .25em .5em;
}
.help .table td {
  border: 1px solid #DDD;
  padding: .25em .5em;
}
#smileys {
  text-align: center;
}
#smileys .image {
  display: inline-block;
  width: 250px;
}
@media print {
  * {
    box-shadow: none!important;
  }
  a {
    color: inherit;
  }
  body {
    margin: 0;
    background: #FFF;
    color: #000;
  }
  #helpContainer {
    padding: 0;
  }
  #toc h1 {
    margin-top: 0;
  }
  .todo {
    color: inherit;
  }
  .noprint {
    display: none;
  }
  .help section {
    border-top: none;
  }
  .help .screen {
    border: 1px solid #000;
  }
  .pba {
    page-break-after: always;
  }
  .pbb {
    page-break-before: always;
  }
  #toc a {
    display: block;
    position: relative;
    clear: both;
    height: 1em;
    background: url(images/dots.png) repeat-x bottom left;
  }
  #toc .sectionName {
    background: #FFF;
    float: left;
    padding-right: .25em;
  }
  #toc .pageNumber {
    display: inline;
    background: #FFF;
    float: right;
    padding-left: .25em;
  }
}
